<!-- Approach -->
<div class="large">
  <ol>
    <li>
      <strong>
        Begin with the end in mind.
      </strong>
      Start with the value you want to create. Much is lost by generating motion without a clear sense of where you wish to go and what you hope to gain.
    </li>
    <li>
      <strong>
        Process first, always.
      </strong>
      Business success is enabled by process, not encumbered by it. Build and deploy processes perfectly designed to generate the outcomes you want.
    </li>
    <li>
      <strong>
        Appreciate the system.
      </strong>
      Businesses are complex and no unit, process, or person operates in a vacuum. Fix systemic issues - do not chase symptoms.
    </li>
    <li>
      <strong>
        Rigor without rigidity.
      </strong>
      Strike the balance and unlock the potential to execute without suffocating the ability to innovate.
    </li>
    <li>
      <strong>
        Top shelf, not off the shelf.
      </strong>
      Create bespoke strategies that leverage leading practices and battle-tested experience while adapting them to the unique needs and goals of your organization.
    </li>
  </ol>
</div>
<!-- End Approach -->