<!-- Approach -->
<div class="large text-muted">
  <ol>
    <li>
      <strong>
        Begin with the end in mind.
      </strong>
      Start with the outcomes you want and the value they create, then create the map to help you get there.
    </li>
    <li>
      <strong>
        Process first, always.
      </strong>
      Outcomes should drive process design. And process design determines the structure, technology, systems, people, and skills you need — not the other way around.
    </li>
    <li>
      <strong>
        Appreciate the system.
      </strong>
      In business and organizations, nothing exists or operates in a vacuum. Fix systemic issues before chasing symptoms.
    </li>
    <li>
      <strong>
        Rigor without rigidity.
      </strong>
      Strike the balance and unlock your potential to execute without suffocating your ability to innovate.
    </li>
    <li>
      <strong>
        Top shelf, not off the shelf.
      </strong>
      Create bespoke strategies that leverage leading practices and battle-tested experience while adapting them to the unique needs and goals of your organization.
    </li>
  </ol>
</div>
<!-- End Approach -->