<!-- Clients -->
<section
  class="page-section py-0"
  id="{{ site.data.sitetext.clients.section | default: 'clients' }}"
>
  <div class="row justify-content-center background-color-wheat pt-5 pb-4">
    <div class="col-10">
      <h2 class="section-heading text-uppercase">
        {{ site.data.sitetext.clients.title | default: "Clients" }}
      </h2>
      <div class="row">
        {% for quote in site.data.sitetext.clients.quotes %}
        <div class="col-4">
          <figure>
            <blockquote>
              <h3 class="h6">
                <strong>{{quote.sizzle}}</strong>
              </h3>
              <p>{{quote.body}}</p>
            </blockquote>
            <figcaption><em>{{quote.byline}}</em></figcaption>
          </figure>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <h2 class="section-heading text-uppercase">How It All Works</h2>
    <div class="row">
      <div class="col-8">
        <h3 class="h6">Step 1. Book a call</h3>
        <h3 class="h6">
          Step 2. Create your very own
          <cite>Integration Readiness Roadmap</cite>
        </h3>
        <h3 class="h6">
          Step 3. Execute your strategy, grow the business, and deliver superior
          results
        </h3>
      </div>
      <div class="col-4 text-center my-auto">
        {% include book_button.html %}
      </div>
    </div>
  </div>
</section>
