<!-- Services -->
<section class="page-section">
  <div class="row justify-content-center">
    <div class="col-10">
      <h2 class="section-heading text-uppercase">
        The Problem with Agribusiness M&A
      </h2>
      <p>
        Here's the cold, hard truth: mergers & acquisitions (M&A) in the food
        and agribusiness sectors are tough. M&A is viewed as an accelerant to
        growth — an express lane — but there is a downside. Once you get on the
        expressway, things move fast, and there are few off ramps. In fact, many
        M&A deals destroy more value than they create.
      </p>
      <p>
        For most executives performing M&A, integration is an afterthought.
        There are so many moving pieces, they don't know where to start:
      </p>
      <ul>
        <li>
          Do we have a credible plan to deliver the value we promised our board
          and investors?
        </li>
        <li>We are burning cash, what can we do to get back on track?</li>
        <li>
          What can we do to ensure our key people don't flock to the
          competition?
        </li>
        <li>We made a big bet. Now how do we avoid making stupid decisions?</li>
        <li>What risks don't we see and how bad could things get?</li>
        <li>As the deal sponsor, how do I protect my reputation and my job?</li>
        <li>
          What is the glide path to meeting deal objectives with the minimal
          disruption to our business and customers?
        </li>
      </ul>
      <p>
        A mishandled M&A integration can set your company back years,
        undermining performance, financial results, and confidence in
        leadership. Common symptoms of a botched integration include:
      </p>
      <ul>
        <li>Erosion of employee and customer trust</li>
        <li>Damaged leadership credibility</li>
        <li>Lost ground to traditional and emerging competitors</li>
        <li>Capital-consuming deals with subpar returns</li>
      </ul>
      <p>
        Don't hesitate to act. You owe it to your board, team, customers,
        suppliers, and community to ensure your M&A deal delivers value with
        minimal disruption. Book your call now and we'll create an Integration
        Readiness Roadmap to get you started.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">{% include book_button.html %}</div>
  </div>
</section>
<!-- End Services -->
<!-- Value Proposition -->
<section class="page-section">
  <div class="row m-0 background-color-gray">
    <div
      class="col-xs-12 col-sm-6 p-4 d-flex flex-column justify-content-center"
    >
      <h2 class="section-heading text-uppercase">What We Do</h2>
      <p>
        At Mosher Consulting Group we equip you with everything you need for a
        successful and profitable M&A integration:
      </p>
      <ul>
        <li>A proven process to boost confidence</li>
        <li>
          A clear-eyed view of your company's readiness for the demands of
          integration
        </li>
        <li>
          A clear blueprint of the Minimum Viable Integration needed for
          achieving your goals
        </li>
        <li>
          An integration plan tailored to your needs while leveraging leading
          practices
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 p-0">
      <img
        class="img-fluid h-sm-100"
        src="assets/img/2-Value Proposition.png"
        alt=""
      />
    </div>
  </div>
</section>
<!-- End Value Proposition -->
