<!-- Services -->
<section class="page-section">
  <div class="row justify-content-center">
    <div class="col-10">
      <h2 class="section-heading text-uppercase">The Problem with M&A</h2>
      <p>
        Here's the cold, hard truth: mergers & acquisitions (M&A) in the food
        and agribusiness sectors are tough. M&A is viewed as an accelerant to
        growth — an express lane — but there is a downside. Once you get on the
        expressway, things move fast, and there are few off ramps. In fact, many
        M&A deals destroy more value than they create.
      </p>
      <p>
        For most food and agribusiness executives performing M&A, integration is
        an afterthought. There are so many moving pieces in an integration, they
        don't know where to start:
      </p>
      <ul>
        <li>What's the integration going to look like?</li>
        <li>How long is this going to take?</li>
        <li>How do we avoid making stupid decisions?</li>
        <li>Who's going to be involved?</li>
        <li>How do we avoid wasting time and/or money?</li>
        <li>Why are we doing this again?</li>
        <li>Can we actually pull this thing off?</li>
        <li>What if we get it wrong?</li>
        <li>
          What does it mean to our customers, suppliers, and our employees if
          this goes sideways?
        </li>
      </ul>
      <p>
        A failed M&A integration sets the company back years. It creates
        performance and financial pressure that didn't exist before the deal,
        leaves leadership doubting themselves, and results in a business
        hesitant to drive bold and innovative strategy.
      </p>
      <ul>
        <li>Your employee and customer confidence erodes</li>
        <li>Your credibility as a leader is crushed</li>
        <li>You lose ground to traditional and emerging competitors</li>
        <li>
          And your poorly executed deal consumes capital with subpar returns
        </li>
      </ul>
      <p>
        Don't wait another second. You owe it to your team, customers,
        suppliers, and community to ensure your M&A deal creates value with
        minimal disruption. Book your call now and we'll create an Integration
        Readiness Roadmap you can use to get started.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">{% include book_button.html %}</div>
  </div>
</section>
<!-- End Services -->
<!-- Value Proposition -->
<section class="page-section">
  <div class="row m-0 background-color-gray">
    <div class="col-6 p-4 d-flex flex-column justify-content-center">
      <h2 class="section-heading text-uppercase">What We Do</h2>
      <p>
        Mosher Consulting Group gives you everything you need to complete a
        successful and profitable M&A integration:
      </p>
      <ul>
        <li>Confidence that comes with using a proven process</li>
        <li>
          Clear-eyed view of your company's readiness for the demands of
          integration
        </li>
        <li>Greater trust and alignment among your leadership team</li>
        <li>
          Clarity on the Minimum Viable Integration needed to hit your goals and
          thrill your customers
        </li>
        <li>
          Integration plan using leading practices, but customized to your needs
        </li>
      </ul>
    </div>
    <div class="col-6 p-0">
      <img
        class="img-fluid h-100"
        src="assets/img/2-Value Proposition.png"
        alt=""
      />
    </div>
  </div>
</section>
<!-- End Value Proposition -->
