<!-- Process -->
<div class="large">
  <ol>
    <li>
      <strong>
        Start with where you are.
      </strong>
      Apply a proven discovery process to understand where you are today, where you want to go, what is working, and where efforts are stalling.
    </li>
    <li>
      <strong>
        Validate and articulate the problem to be solved.
      </strong>
      With a clear picture of the current state, revisit the problem to be solved to get clear on the outcome you want, and the value realized when you get there.
    </li>
    <li>
      <strong>
        Design the solution and path forward.
      </strong>
      Partner in designing the capabilities you need to execute your strategy, and develop a pragmatic, action-oriented roadmap to get the business moving.
    </li>
    <li>
      <strong>
        Ready the business for change.
      </strong>
      While not required in every engagement, larger scale changes and transformations benefit greatly from conducting business readiness activities prior to launch.
    </li>
    <li>
      <strong>
        Make it happen.
      </strong>
      Align the organization, launch the solution, and execute the plan including management of risks, monitoring of pace and milestones, and measurement of value created.
    </li>
  </ol>
</div>
<!-- End Process -->