<!-- Services -->
<section
  class="page-section pt-0"
  id="{{ site.data.sitetext.services.section }}"
>
  <div class="row justify-content-center pt-5">
    <div class="col-10">
      <h2 class="section-heading text-uppercase">
        {{ site.data.sitetext.services.title | default: "Services" }}
      </h2>
    </div>
  </div>

  <!-- Values -->
  <div class="row justify-content-center mt-0">
    <div class="col-10">{% include values.html %}</div>
  </div>
  <!-- End Values -->
</section>
<!-- End Services -->
