<!-- Values -->
<div class="large text-muted">
  <ol>
    <li>
      <strong>
        Never ask for trust, earn it.
      </strong>
      Do not lean on bold promises or the glory of past performance. Focus on the value at large and get to work.
    </li>
    <li>
      <strong>
        Act like an owner.
      </strong>
      Be a steward of the client’s businesses by creating value greater than the cost of working together. Behave like a partner without equity.
    </li>
    <li>
      <strong>
        Relentlessly reinvent.
      </strong>
      Commit to lifelong learning and a growth-mindset. You cannot help clients reinvent their businesses if you do not invest in and challenge yourself.
    </li>
    <li>
      <strong>
        Invest in relationships.
      </strong>
      Openly share ideas and perspectives that generate ideas and creativity. Monetizing every interaction narrows the scope of partnership and myopia starves value creation.
    </li>
    <li>
      <strong>
        Be willing to lose the business.
      </strong>
      Provide an honest, candid, and constructive external perspective, even when it creates discomfort or resistance. Be willing to pay a high cost of candor.
    </li>
  </ol>
</div>
<!-- End Values -->