<!-- Values -->
  <section class="page-section" id="{{ site.data.sitetext.values.section | default: "values" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.values.title | default: "Values" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext.values.text | default: "" }}</h3>
        </div>
      </div>
	  <div class="row">
		<div class="col-lg-8 mx-auto">
		  <!-- <div class="large text-muted">{{ site.data.sitetext.values.text | markdownify }}</div> -->
		  <div class="large text-muted">
        <ol>
          <li>
            <strong>
              Never ask for trust, earn it.
            </strong>
            Do not lean on big, bold promises or the glory of past performance. Focus on the value at large and get to work.
          </li>
          <li>
            <strong>
              Behave like a partner without equity.
            </strong>
            Act as a steward of the client’s businesses by creating value greater than the cost of working together.
          </li>
          <li>
            <strong>
              Relentlessly reinvent.
            </strong>
            Commit to lifelong learning and a growth-mindset. You cannot help clients reinvent their businesses if you do not invest in and challenge yourself.
          </li>
          <li>
            <strong>
              Invest in relationships.
            </strong>
            Openly share ideas and perspectives that generate ideas and creativity. Monetizing every interaction narrows the scope of partnership and myopia starves value creation.
          </li>
          <li>
            <strong>
              Be willing to lose the business.
            </strong>
            Provide an honest, candid, and constructive external perspective, even when it creates discomfort or resistance. Be willing to pay a high cost of candor.
          </li>
        </ol>
      </div>
		</div>
	  </div>
    </div>
  </section>
<!-- End Values -->