---
---
@charset "utf-8";
// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom colors
$primary: {{ site.data.style.highlight | default: "#f27405" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images
$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

// Layout
@import "layout/general.scss";
@import "layout/masthead.scss";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/timeline.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";

// Overrides
.alert-success {
  background-color: $white;
  border-color: $davy-gray;
}

button.close {
  padding: 8px 0 8px 16px;
}

// Classes
.background-color-gray {
  background-color: $davy-gray;
  color: $white;
}

.background-color-orange {
  background-color: $safety-orange;
  color: $white;
}

.background-color-wheat {
  background-color: $wheat;
  color: $davy-gray;
}

blockquote > * {
  line-height: 1.5 !important;
}
