// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  color: #f5e0b7;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 25%;
  background-size: cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
      bottom: -200px;
      position: relative;
      backdrop-filter: blur(8px) brightness(0.5);
      padding: 8px;
      border: 2px solid $wheat;
      p {
        margin-bottom: 0;
      }
    }
    .intro-heading {
      padding: 20px;
      background-color: #c7c7c7;
      color: #0d0d0d;
      border: 4px solid #f27405;
      border-radius: 2px;
      opacity: 0.76;
      backdrop-filter: blur(4px);
      text-align: left;
      -webkit-backdrop-filter: blur(200px);
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 25px;
      @include heading-font;
      p {
        opacity: 1;
        margin: 0;
      }
    }
  }
}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      // padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 44px;
        // font-style: italic;
        // line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
